@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'RoxboroughCF';
  src: url('/fonts/RoxboroughCF-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RoxboroughCF';
  src: url('/fonts/RoxboroughCF-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RoxboroughCF';
  src: url('/fonts/RoxboroughCF-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
